html, body, .container {
  height: 100%;
  width: 100%;
  background-image: url('../img/24.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 20px;
  font-variant: small-caps;
}

.well, .jumbotron{
  background-color: rgba(200, 160, 160, 0.5);
  font-weight: 900;
  color:#230505;
  border: none;
  margin: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
h2, .jumbotron{
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}
.begin{
  text-align: center;
}
#player1{
  text-align: center;
}
#player2{
  text-align: center;
}
/* .container {
    padding: 2px 16px;
} */
button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #761212;
  background-color: rgba(200, 160, 160, 0.7);
  border: none;
  margin: none;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.options{
  display: table;
   margin: 0 auto;
}
button:hover {background-color: #7e7e7e;}

button:active {
  background-color: #696969;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
